/* #boton_ChangeDefects{display: none !important;} */

/* GENERAL */
@font-face{
	 font-family: 'Montse_regular';
	 font-style: normal;
	 font-weight: 400;
	 src: url('Montserrat-Medium.ttf');
}

*{
    font-family: 'Montse_regular';
    padding: 0;
    margin: 0;
    cursor: pointer;
	src: url('Montserrat-Medium.ttf');
	overflow:none;
}

body {
	background-image: url('../images/Wallpaper.png');

	margin: 0; 
	padding: 0;	
	overflow-x: hidden;
	overflow-y: hidden;
}

div {
	margin: 0;
	padding: 0;
}

/* SCROLL*/
::-webkit-scrollbar{
    width: 12px;
	height: 10px;
} 
::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: #f18155;
}

#boton_salir{		
	content: url(../images/LeaveButton.png);
}
#boton_salir:hover{
	content: url(../images/LeaveButtonH.png);
}