<label><span class = "OpcionBuscador" style ="position:absolute;left:70px;">PJI</span></label>
<input class = "CajaOpcionBuscador" type="text" id="p_val1" name="s-vis" style = "position:absolute;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>
<label><span class = "OpcionBuscador" style ="position:absolute;top:30px;left:70px;" >Skid</span></label>
<input class = "CajaOpcionBuscador" type="text" id="p_val3" name="s-relai" style = "position:absolute;top:30px;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>
<label><span class = "OpcionBuscador" style ="position:absolute;top:60px;left:70px;">Date initiale</span></label>
<input class = "CajaOpcionBuscador" type="datetime-local" id="p_val6" name="u-fecha" maxlength="16"  style = "position:absolute;top:60px;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>
<label><span class = "OpcionBuscador" style ="position:absolute;top:90px;left:70px;">Date finale</span></label>
<input class = "CajaOpcionBuscador" type="datetime-local" id="p_val7" name="l-fecha" maxlength="16" style = "position:absolute;top:90px;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>
<label><span class = "OpcionBuscador" style ="position:absolute;top:150px;left:70px;" >Country</span></label>
<select class = "CajaOpcionBuscador" type="text" id="p_pais" style = "position:absolute;top:150px;left:170px;"> </select>


