<div class="InfoImpresion" style="position:absolute; width:180mm; top:272mm; left:15mm">
		<text id = "UltLLA"    class ="DatoImpresion" style="width:15mm">Nº support<br>%%relai%%</text>
		<text id = "Fecha"     class="DatoImpresion" style="width:20mm">Date<br>%%dia%%</text>
		<text id = "UltVis"    class ="DatoImpresion" style="width:76mm">PJI <br>%%vis%%</text>
		<text id = "UltModelo" class ="DatoImpresion" style="width:65mm">Modèle <br>%%type%%.%%long%%</text>
		
		<text id = "Type"      class="DatoImpresion" style="width:15mm">Type <br>%%type%%</text>
		<text id = "Hora"      class="DatoImpresion" style="width:20mm">Heure <br>%%hora%%</text>
 		<text id = "UltColor" class="DatoImpresion" style="width:76mm">Couleur 1 <br>(%%codigo_color1%%) %%color1%%</text>
		<text id = "Pais"    class="DatoImpresion" style="width:65mm">Pays <br>%%pais%%</text>
</div>	
<div class="ImagenImpresion2" id="ImagenImpresion" style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="782" height="1088">
		<g transform="translate(127,710)  rotate(0,0,0) scale(0.28)">
			%%svg_impr1%%
		</g>
		<g transform="translate(245,780)  rotate(270,0,0) scale(0.28)">
			%%svg_impr2%%
		</g>
		<g transform="translate(600,250)  rotate(180,0,0) scale(0.21)">
			%%svg_impr3%%
		</g>
		<g transform="translate(290,250)  rotate(90,0,0) scale(0.3)">
			%%svg_impr4%%
		</g>
		<g transform="translate(505,825)  rotate(270,0,0) scale(0.3)">
			%%svg_impr5%%
		</g>
		<g transform="translate(625,380)  rotate(0,0,0) scale(0.24)">
			%%svg_impr6%%
		</g>
	</svg>
</div>
<div class="ImagenImpresion3" id="ImagenImpresion2" style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="782" height="1088">
		<g transform="translate(127,710)  rotate(0,0,0) scale(0.28)">
			%%svg_impr1%%
		</g>
		<g transform="translate(225,760)  rotate(270,0,0) scale(0.32)">
			%%svg_impr2%%
		</g>
		<g transform="translate(617.5,250)  rotate(180,0,0) scale(0.23)">
			%%svg_impr3%%
		</g>
		<g transform="translate(280,200)  rotate(90,0,0) scale(0.3)">
			%%svg_impr4%%
		</g>
		<g transform="translate(520,780)  rotate(270,0,0) scale(0.3)">
			%%svg_impr5%%
		</g>
		<g transform="translate(625,350)  rotate(0,0,0) scale(0.24)">
			%%svg_impr6%%
		</g>
	</svg>
</div>
<div class="ImagenImpresion4" id="ImagenImpresion3" style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="782" height="1088">
		<g transform="translate(127,710)  rotate(0,0,0) scale(0.28)">
			%%svg_impr1%%
		</g>
		<g transform="translate(225,660)  rotate(270,0,0) scale(0.32)">
			%%svg_impr2%%
		</g>
		<g transform="translate(617.5,220)  rotate(180,0,0) scale(0.23)">
			%%svg_impr3%%
		</g>
		<g transform="translate(280,200)  rotate(90,0,0) scale(0.3)">
			%%svg_impr4%%
		</g>
		<g transform="translate(520,760)  rotate(270,0,0) scale(0.3)">
			%%svg_impr5%%
		</g>
		<g transform="translate(625,350)  rotate(0,0,0) scale(0.24)">
			%%svg_impr6%%
		</g>
	</svg>
</div>
<img id="logo_EagleEYE" style="position:absolute; width:35mm; top:262mm; left:19mm;"></img>
<text id="NombrePlantaImpr" style="position:absolute; width:40mm; top:263mm; left:57mm; font-size:18px;color:black">Maubeuge</text>

