<label><span class = "OpcionBuscador" style ="position:absolute;left:70px;">Trineo</span></label>
<input class = "CajaOpcionBuscador" type="text" id="p_relai" name="s-relai" style = "position:absolute;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>
<label><span class = "OpcionBuscador" style ="position:absolute;top:30px;left:70px;">PJI</span></label>
<input class = "CajaOpcionBuscador" type="text" id="p_val1" name="s-vis" style = "position:absolute;top:30px;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>
<label><span class = "OpcionBuscador" style ="position:absolute;top:4000px;left:70px;display:none" >Pais</span></label>
<select class = "CajaOpcionBuscador" type="text" id="p_pais" style = "position:absolute;left:170px;display:none"> </select>
<label><span class = "OpcionBuscador" id="fi" style ="position:absolute;top:60px;left:70px;">Fecha inicial</span></label>
<input class = "CajaOpcionBuscador" type="datetime-local" id="p_val6" name="u-fecha" maxlength="16"  style = "position:absolute;top:60px;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>
<label><span class = "OpcionBuscador" id="ff" style ="position:absolute;top:90px;left:70px;">Fecha final</span></label>
<input class = "CajaOpcionBuscador" type="datetime-local" id="p_val7" name="l-fecha" maxlength="16" style = "position:absolute;top:90px;left:170px;" onkeypress="if(event.keyCode == 13) AdminUI.BuscaResultados();"/>