<!DOCTYPE html>
<html>
	<head>
		<title>SISTEMA AUTOMÁTICO DE DETECCIÓN DE DEFECTOS DE PINTURA</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="C:/J3D/UI/css/estilo.css">
	</head>
	<body style="margin:0; padding:0; border:0; background-color:white; position:absolute; top:0; left:0; transform: scale(1.0)">
		<div id="cuerpo" style="opacity: 1;">
			<div id="inspecciones">
				<div class="inspeccion redondo sombra in0_0" style="opacity: 1;">
					<div class="info big">
					<div id="IdInsp" style="display:none">%%id_inspeccion_0%%</div>
					<div class="pedido">LLA<br>%%relai_0%%</div>
					<div class="vis">vis<br>%%vis_0%%</div>
					<div class="vuelta">Tour<br>%%vuelta_0%%</div>
					<div class="color">(%%codigo_color1_0%%) %%color1_0%%
						<div class="demo_color" style="background-color: #%%color_web1_0%%;"></div>
					</div>
					<div class="modelo">Modèle<br>%%modelo_0%%</div>
					<div class="ppbm">PPBM<br>%%ppbm_0%%</div>
					<div class="linea">Ligne<br>%%linea_origen_0%%</div>
					<div class="pais">Pays<br>%%pais_0%%</div>
					</div>
				</div>
			</div>
			<div id="errores" class="grande">
				<div class="mensajes" style="display: none;"></div>
			</div>
		</div>
		<div style="position:absolute;top:0;display=flex; max-width:960px">
%%svg_0%%
		</div>
	</body>
</html>
